.header-course{
	max-width:550px;
	font-size: 48px;
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	line-height: 48px;
	color: #2D5199;
}
.img-course{
	width: 650px;
	height: 340px;
}
.courses-blue-color{
	color: #2D5199;
}
.coursebutton{
	width: 210px;
	height: 50px;
	display: inline-block;
	color: #2D5199;
	background: rgba(255, 255, 255, 0);
	border: 2px solid #2D5199;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;	  
}
.coursebutton:hover{

	color: #fff;
	background: #2D5199;
  transition: 0.5s;	  
}
.coursebutton2{
	width: 210px;
	height: 50px;
	display: inline-block;
	color: #fff;
	background-color: #2D5199;
	border: 2px solid #2D5199;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;	  
}
.block{
	width: 327px;
	height: 181px;
	background: rgba(45, 81, 153, 0.05);
	margin-top: 100px;
}
.course-title{
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	color: #2D5199;
	margin-top: 70px;
}
.course-about{
	font-family: Muller;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #525252;
	text-align: justify;
}
.details-course{
	text-align: center;
	font-family: Muller;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	padding-top: 31px;
	line-height: 27px;
	color: #2D5199;
}
.DET{
	font-family: Muller;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #ABABAB;
	margin-left: 50px;
}
.date_course{
	color: #2D5199;
}
.teacher{
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	color: #2D5199;
	margin-bottom: 50px;
}
.teacher-title{
	font-family: Muller;
font-weight: bold;
font-size: 36px;
line-height: 30px;
color: #000000;
}
.teacher-subtitler{
	font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #848484;
}
.teacher-info{
	color: #000;
}
.bio-teacher{
	width: 500px;
	text-align: justify;
}
.teacher-page-btn{
height: 50px;
width: 300px;
background-color: #2D5199;
border:none;
font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
color: #fff;
}
.teacher-page-btn:hover{
color: #2D5199;
background: rgba(255, 255, 255, 0);
border: 2px solid #2D5199;
transition: 0.5s;
}
.coursebutton2:hover{
	text-decoration: none;
color: #2D5199 !important;
background: #fff;
border: 2px solid #2D5199;
transition: 0.5s;
}
 
@media only screen and (max-width:770px){
	.header-course{
font-size: 30px;
}
	.coursebutton ,.coursebutton2{
		margin: 0 auto;
	}

}