.lesson-header {
  min-height: 70px;
}

.lesson-header-title {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #2d5199;
}

.lesson-sidebar-block {
  position: sticky;
  top: 20px;
}

.lesson-sidebar {
  min-width: 280px;
  width: 100%;


  height: 70px;
  background: #f7f7f7;
  cursor: pointer;
}

.lesson-sidebar-active {
  color: #fff;
  background: #2d5199;
}

.lesson-sidebar-numbering {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 33px;
  font-family: Muller;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2d5199;
}

.lesson-sidebar-title {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.lesson-next-btn {
  position: fixed;
  right: 45px;
  bottom: 30px;
  height: 40px;
  width: 130px;
  border: none;

  color: #fff;
  background-color: #2d5199;
}
.lesson-prev-btn {
  position: fixed;
  left: 350px;
  bottom: 30px;
  height: 40px;
  width: 130px;
  border: 1.5px solid #2d5199;
  font-weight: 600;
  background: #fff;
  color: #2d5199;
}

.lesson-content-block {
  padding: 30px 100px 50px 100px !important;
  text-align: left !important;
  font-family: Muller !important;
  font-size: 16px ! important;
  overflow:hidden !important;

}

.lesson-content-block div p {

  font-family: Muller !important;
  font-size: 18px ! important;
  width: 100% !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 1rem 0 0 !important;


}

.lesson-content-block div {
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;


}

.lesson-content-block div img {
  width: 100% !important;
  height: auto !important;
}


.lesson-header-collapse {
  display: none;
}

@media only screen and (max-width: 991px) {
  

  .lesson-header-title {
    display: none;
  }

  .lesson-sidebar-wrapper {
    display: none;
  }

  .lesson-prev-btn {
    left: 25px;
    bottom: 10px;
  }

  .lesson-next-btn {
    bottom: 10px;
    right: 25px;
  }
}

@media only screen and (max-width: 765px) {
  .lesson-header-collapse {
    display: block;
  }
}


@media only screen and (max-width:600px) {
  .lesson-content-block {
    padding: 10px 20px !important;
  }
 
}