html {
	scroll-behavior: smooth;
}
.mainphoto{
	background: url('../assets/img/main.png') center center;
	/*background-size: cover;*/
	background-repeat: no-repeat !important;

}
.photo2{
	 background: linear-gradient(rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)),
         url('../assets/img/photo2.png') center center / cover;
	background-repeat: no-repeat;
	height: 350px;
	z-index: 1;
	background-attachment: fixed !important;
}
.footer{
	background-color: #2D5199;
	color:#FFFFFF!important;
}
.logopart{
	padding-top: 167px;
	padding-bottom: 36px;
}
.mainheader{
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	width: 1035px;
}
.text2{
	padding-top: 12px;
	padding-bottom: 36px;
	width: 600px;
	font-family: Muller;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.8;
}
.mainbutton{
	width: 210px;
	height: 50px;
	display: inline-block;
	color: #fff;
	background: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}
.mainbutton:hover,
.mainbutton:active {
  background-color: #fff;
  color: #000;
}
.blocktext{
	width: 500px;
	font-family: Lato-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 170%;
	color: #848484;

}

.headtext{
padding-top: 107px;
padding-bottom: 18px;
font-family: Muller;
font-style: bold;
font-weight: bold;
font-size: 36px;
line-height: 30px;
display: flex;
color: #2D5199;
}
.blockphoto{
	padding-top: 75px;
}
.lessons_button{
	width: 200px;
	height:50px;
	background: #2D5199;
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	align-items: center;
	text-align: center;
	border:0px;
	color: #FFFFFF;
}
.head-text{
	margin-bottom: 40px!important;


}
.text-about{
	width: 100%;
	font-family: Lato-Regular !important;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 170%;
	color: #525252;
}
p[style] {
	font-family: Lato-Regular !important;
	font-size: 18px !important;
	text-align: left !important;
	line-height: 28px !important;
	width: 100% !important;
}
.map{
	margin-top: 150px;
}
.first{
	margin-left: 285px;
}
.item{
	font-family: Muller;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 27px;
	margin-right: 40px;
}

.item a {
	color: #484848!important;
}

.header{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.margin{
	margin-top: 33px;
	color: #fff!important;
}
.margin2{
	margin-top: 33px;
	text-align: center;
}

.teacher-card-name {
	font-size: 18px;
	font-family: MullerBold;
}

.teacher-card-who {
	font-size: 14px;
}

.teacher-card-image {
	width: 90px;
}

.main-page-slider-button {
	width: 50px !important;
	height: 50px !important;
	z-index: 1000 !important;
}

.slick-arrow:after, .slick-arrow:before {
	display: none;
}

.main-page-slider-button__img-right {
	right: 4px;
}

.main-page-slider-button__img-left {
	transform: rotate(180deg);
}

.main-page-slider-button {
	position: relative;
	top:-30px;
}

.main-page-heading-text {
	font-family: MullerBold;
	color: #2D5199;
}

.main-page-text {
	line-height: 170% !important;
}

.main-card-button-pos {
	position: absolute;
	left: 0;
	bottom: 20px;
}

.teacher-card-about-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 21px;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}





@media (max-width: 425px) {
	.banner2{
		font-size: 17px !important;
	}
	.map{
	margin-top: 25px;
}


	.mainbutton {
		height: 40px;
		font-size: 15px;
		width: 160px;
	}

}

@media (max-width: 320px) {
	.banner2{
		font-size: 13px !important;
	}
	.photo2 {
		height: 150px;
	}
}