p {
  margin-bottom: 0!important;
 
}
.news-content div{
	width: 100% !important;
}

.news_title
{font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
}



@media (max-width: 765px) {
	.main-news-subtitle{
		font-size: 18px !important;
  }
  .main-news-views ,.main-news-date{
    font-size: 13px;
  }
 
}