@font-face {
  font-family: Muller;
  src: url(./assets/Fonts/MullerRegular.ttf);
}

@font-face {
  font-family: MullerBold;
  src: url(./assets/Fonts/MullerBold.ttf);
}

@font-face {
  font-family: MullerMedium;
  src: url(./assets/Fonts/MullerMedium.ttf);
}
@font-face{
	font-family: Lato-Regular;
	src: url(./assets/Fonts/Lato-Regular.ttf);

}