body {
    font-family: Muller !important;
}

.h1 {
    font-family: MullerBold;
    color: #2D5199;
}

.card_custom_title {
    color: #484848;
    font-family: MullerBold;
}

.card_custom_subtitle-text {
    font-size: 14px;
}

.card_custom_body-text span {
    color: #2D5199;
    font-family: MullerMedium;
}

.card_custom_button {
    border: 2px solid #2D5199 !important;
    color: #2D5199 !important;
    font-family: MullerMedium !important;
    width: 190px !important;
    height: 55px;
}

.card_custom_button:hover {
    border: 2px solid #2D5199 !important;
    background: #2D5199;
    color: #fff !important;
    transition: 0.5s;
}

.dropdown-item-custom {
    white-space: inherit !important;
    font-size: 14px !important;
}

.all-lessons-pagination {
    font-family: MullerMedium;
}

.all-lessons-pagination-inactive {
    color: #2D5199 !important;
}

.news_custom-link {
    font-family: MullerMedium;
    color: #2D5199;
}

.teacher-page {
    font-family: MullerBold;
    color: #2D5199;
}

.teacher-subtitle {
    font-size: 20px;
}

.teacher-archive {
    max-width: 450px;
}

.contacts-subtitle {
    font-family: MullerBold;
}

.contacts-form {
    background: #FCFCFE;
    max-width: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-form__input {
    background: transparent !important;
}

.contacts-form__textarea {
    min-height: 100px;
    max-height: 500px;
}

.contacts-form__button {
    background: #2D5199 !important;
}

.dots-father:after {
    content: "";
    display: inline-block;
    background: url("/assets/icon/dots.png") center center / cover;
}

.all-news__body {
    font-size: 18px;
}

.slick-slide {
    width: 100px;
}

.wrapper {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.main-page-heading-subtitle {
    font-size: 24px;
    opacity: .8;
}

.header-button {
    font-family: MullerBold;
}

@media (max-width: 768px) {
    .card_custom_title {
        font-size: 14px;
    }

    .card_custom_body-text {
        font-size: 14px;
    }
}



@media (max-width: 576px) {
    .main-page-heading-text {
        margin-bottom: 25px !important;
        text-align: center;
    }

    .main-page-heading-title {
        font-size: 15px !important;
    }

    .main-page-heading-img-logo {
        width: 40px !important;
    }

    .main-page-heading-subtitle {
        font-size: 11px !important;
    }
}

.paginationActiveButton {
    color: white !important;
    background-color: #2D5199 !important;
}

